<div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="#">Sitemap</a> | <a href="#">Contact us</a>    
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© Created by AlvilsK</p>
      </div>
    </div>
</div>