/* GLOBAL STYLES
-------------------------------------------------- */
body {
  min-height: 75rem;
  padding-bottom: 3rem;
  background-color: #F7F7F9;
}

/* FOOTER
-------------------------------------------------- */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* NAVBAR
-------------------------------------------------- */
.navbar {
  margin-bottom: 0;
}