/* VARIABLES, MIXINS
-------------------------------------------------- */
  /* Mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

  /* Variables */

/* GLOBAL STYLES
-------------------------------------------------- */
body {
  min-height: 75rem;
  padding-bottom: 3rem;
  background-color: #F7F7F9;
  padding-top: 60px;
}

/* FOOTER
-------------------------------------------------- */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* NAVBAR
-------------------------------------------------- */
.navbar {
  margin-bottom: 0;
}

/* MISCELLANEUS
-------------------------------------------------- */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* FORM
-------------------------------------------------- */

.form {
  background-color: white;
  padding: 1.5rem 1rem 1.5rem 1rem;
  h1, .h1 {
    font-size: 20px !important;
    position: center;
  }
}